PROJECT_NAME=FASTAPI_BASE
SECRET_KEY=!rtf%s)h15_n^+kt1d=%n1kvis8pnnfb@4s!=+=ps=o*9wi47a
SQL_DATABASE_URL=postgresql+psycopg2://postgres:A123456@base-db:5432/fastapi-base

CELERY_BROKER_URL=redis://base-redis:6379
CELERY_RESULT_BACKEND=redis://base-redis:6379

RABBITMQ_BROKER_URL=amqp://admin:A123456@base-rabbitmq:5672/vhost

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=A123456
RABBITMQ_DEFAULT_VHOST=vhost

CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=A123456

POSTGRES_DB=fastapi-base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=A123456

FCM_SERVER_KEY=AAAAI3iE0Gs:APA91bFP4EJNivpo3uRV95BgyO4Lwny7zgXQG82fKz3h-W-i4KKAbIaNnBy0VMjX3hzrz9ik0ia0tleMDD0u26cw4TWP2f-rcV4ihxm6q3IrdPVPrB2vnsXEi5gIrZpQ9Ml6C8nyFI29

EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_USERNAME=office@mor.com.vn
EMAIL_PASSWORD=Morhn@2023
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_FROM=SpaceShare <office@mor.com.vn>